IfLogIn : std::cout<<"Inside if with condition $cond";
ElseLogIn : std::cout <<"Inside else with condition $cond"; 
ForLog : std::cout <<"Inside for with condition $cond";
WhileLog : std::cout <<"Inside while with condition $cond"
SwitchLog : std::cout<<"Inside switch with condition $cond"
DoWhileLog : std::cout<<"Inside do while with condition $cond"
